﻿@using PagedList.Mvc
@using QuizMan.WEB.Utils
@model PagedList.IPagedList<QuizMan.BLL.DataTransferObjects.CategoryModel>

@using (Ajax.BeginForm("GetCategories","Category",FormMethod.Post,
    new AjaxOptions
    {
        HttpMethod = "Get",
        UpdateTargetId = "categories-block"
    },new{ @class = "needs-validation", novalidate = "" }))
{
    @Html.ValidationSummary()
    <div class="input-group">
        @Html.TextBox("query", ViewBag.CurrentFilter as string, new {@class = "form-control" , placeholder = "Search category...", maxlength = "50"})
        <input type="submit" value="Search" class="btn btn-secondary"/>
    </div>

}


@foreach (var category in Model)
{
    <div class="col-md-4 p-2">
        <div class="card h-100 text-white card_category">
            <div class="card-body">
                <h5 class="card-title text-center">@category.Title</h5>
                <h6 class="card-subtitle mb-2 text-muted">@category.CreationDate</h6>
                <p class="card-text">@category.Description</p>
            </div>
            <div class="card-footer">
                @Html.ActionLink("GO", "Index", "Test", new { categoryId = category.Id }, new { @class = "card-link" })
                @if (User.IsInRole(Role.Admin) || User.IsInRole(Role.Editor))
                {
                    @Html.ActionLink("EDIT", "EditCategory", "Category", new { categoryId = category.Id }, new { @class = "card-link" })
                }
            </div>
        </div>
    </div>
}
<div class="row">
    @Html.PagedListPager(Model,
            page =>
                Url.Action("GetCategories","Category", new {page, currentFilter = ViewBag.CurrentFilter}),
            PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
                new PagedListRenderOptions
                {
                    //DisplayPageCountAndCurrentLocation = true,
                    LinkToPreviousPageFormat = "Previous",
                    LinkToNextPageFormat = "Next",
                },
                new AjaxOptions()
                {
                    HttpMethod = "Get",
                    UpdateTargetId = "categories-block"
                }))
</div>
