﻿@model QuizMan.BLL.DataTransferObjects.CategoryModel


<div class="container">
    @if (Model.Title != "Other")
    {
        <div class="row mt-3">
            <h3 class="text-center">Edit category</h3>
            @using (Ajax.BeginForm("AddOrUpdateCategory", null, new AjaxOptions {OnSuccess = "OnSuccess", OnFailure = "OnFailure"}, new {@class = "needs-validation", novalidate = ""}))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.Id, new {id = "hiddenId"})
                <div class="mb-3">
                    @Html.LabelFor(x => x.Title, new {@class = "form-label"})
                    @Html.TextBoxFor(x => x.Title, new {@class = "form-control", required = "", maxlength = "75"})
                    <div class="invalid-feedback">
                        Please provide a valid title
                    </div>
                </div>
                <div class="mb-3">
                    @Html.LabelFor(x => x.Description, new {@class = "form-label"})
                    @Html.TextAreaFor(x => x.Description, new {@class = "form-control", rows = "3", required = "", maxlength = "1000"})
                    <div class="invalid-feedback">
                        Please provide a valid description
                    </div>
                </div>
                <button class="btn btn-success"  type="submit" id="btn-save-add">
                    @(Model.Id == 0 ? "Add" : "Update")
                </button>
            }
        </div>
    }
    

    <div class="mt-3" @(Model.Id == 0 ? "style=display:none;" : "") id="tests-container">
        <h5 class="text-center">Tests list</h5>
        <div>
            @Html.ActionLink("Add new test", "AddTest", "Test", new {categoryId = Model.Id}, new {@class = "btn btn-secondary"})
        </div>
        <div class="row" id="tests-block">
            @Html.Action("GetCategoryTests", "Test", new {categoryId = Model.Id})
        </div>
    </div>
    @if (Model.Title != "Other")
    {
        <button type="button" id="delete-category-btn" @(Model.Id == 0 ? "style=display:none;" : "") class="btn btn-danger" data-toggle="modal" data-target="#delete-category-modal">
            Delete category
        </button>
    }
</div>

<div class="modal fade"  id="delete-category-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete category</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the category?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                @Html.ActionLink("Delete", "DeleteCategory", new { categoryId = Model.Id }, new { @class = "btn btn-danger", id= "delete-confirm-btn" })
            </div>
        </div>
    </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete test</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete the test?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a class="btn btn-danger" data-ajax="true" data-ajax-success="OnSuccessDeleted" href="/Test/DeleteTest?testId=0" id="delete-agree">Delete</a>
                </div>
            </div>
        </div>
    </div>


    <script>
    var myModal = new bootstrap.Modal(document.getElementById('exampleModal'),
        {
            keyboard: false
        });

    var toastElList = [].slice.call(document.querySelectorAll('.toast'));
    var toastList = toastElList.map(function (toastEl) {
        return new bootstrap.Toast(toastEl)
    });


    function OnSuccessDeleted(data) {
        document.getElementById('toast-message').innerHTML = data.responseText;
        toastList[0].show();
        myModal.hide();
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetCategoryTests", "Test", new { categoryId = Model.Id })",
            contentType: 'application/html; charset=utf-8',
            dataType: "html",
            success: function (partialViewData) {
                $('#tests-block').html(partialViewData);
            }
        });
    }

    function OnSuccess(data) {
        document.getElementById('toast-message').innerHTML = data.responseText;
        toastList[0].show();
        if (data.categoryId !== 0 && data.success) {
            console.log(data.categoryId);
            const pat = /categoryId=[0-9]+/;
            const testsBlock = document.getElementById("tests-container");
            const deleteCategoryBtn = document.getElementById("delete-category-btn");
            const btnAddUpdate = document.getElementById("btn-save-add");
            btnAddUpdate.innerHTML = "Update";
            const hiddenId = document.getElementById("hiddenId");
            hiddenId.value = data.categoryId;
            testsBlock.style = "";
            deleteCategoryBtn.style = "";
            const addTest = testsBlock.getElementsByTagName('a')[0];
            const form = testsBlock.getElementsByTagName('form')[0];
            addTest.href = addTest.href.replace(pat, `categoryId=${data.categoryId}`);
            form.action = form.action.replace(pat, `categoryId=${data.categoryId}`);

            const deleteConfirmButton = document.getElementById("delete-confirm-btn");
            deleteConfirmButton.href = deleteConfirmButton.href.replace(pat, `categoryId=${data.categoryId}`);
        }
    }

    function OnFailure(data) {
        console.log(data);
        const ul = document.createElement('ul');
        for (let i = 0; i < data.responseJSON.length; i++) {
            const li = document.createElement('li');
            const message = data.responseJSON[i];
            li.innerHTML = message.UserMessage;
            ul.appendChild(li);
        }
        const toast = document.getElementById('toast-message');
        toast.innerHTML = "";
        toast.appendChild(ul);
        toastList[0].show();
    }

    const deleteAgree = document.getElementById('delete-agree');
    let testBlock;

    function deletetest(event) {
        const pat = /testId=[0-9]+/;
        deleteAgree.href = deleteAgree.href.replace(pat, `testId=${event.dataset.id}`);
        testBlock = event.closest('.card');
        myModal.show();
    }

    function changeTestStatus(element) {
        const url = element.dataset.url;
        $.ajax({
            url: url,
            type: 'POST',
            success: function (result) {
                document.getElementById('toast-message').innerHTML = result.responseText;
                toastList[0].show();
                //console.log(result.responseText);
            }
        });
    }
    </script>

