﻿* {
    box-sizing: border-box;
    color: #a3a3a7;
    margin: 0; /*!!!!*/
}

body, html {
    background-color: #202020;
    height: 100%;
}

.navbar-dark {
    background-color: #1b1b1b;
}

.card {
    -ms-border-radius: 0;
    border-radius: 0;
    background-color: #323232;
    border-bottom: 3px solid transparent;
    transition: ease-in-out 0.2s;
}

    .card:hover {
        border-bottom: 3px solid #20bc80;
    }

.card_category:hover {
    border-bottom: 3px solid #20bc80;
    transform: scale(1.05);
}

.card-footer a {
    text-decoration: none;
    color: gray;
}

    .card-footer a:hover {
        color: #20bc80;
    }

.form-control {
    border-radius: 0;
    background-color: #323232;
    border: 1px solid #424242;
    color: #a3a3a7;
}

    .form-control:focus {
        background-color: #303238;
        color: #a3a3a7;
    }

    .form-control:disabled {
        background-color: #1b1b1b;
    }

.input-group-text {
    -ms-border-radius: 0;
    border-radius: 0;
    background-color: #2b2b2b;
    border: 1px solid #424242;
}

.btn {
    -ms-border-radius: 0;
    border-radius: 0;
}

.form-select {
    -ms-border-radius: 0;
    border-radius: 0;
    background-color: #323232;
    border: 1px solid #424242;
    color: #a3a3a7;
}

.form-check-input {
    background-color: #424242;
}

    .form-check-input:checked {
        background-color: #20bc80;
        border: none;
    }

.form-range::-webkit-slider-thumb {
    background-color: #20bc80;
}

.form-range::-webkit-slider-runnable-track {
    background-color: #323232;
}

.form-range::-moz-range-thumb {
    background-color: #20bc80;
}
/*My*/
.home-cap {
    background-image: url('Images/home_cap.png');
    height: 40vh;
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
    -ms-background-position: center;
    background-position: center;
    -ms-background-repeat: no-repeat;
    background-repeat: no-repeat;
    -ms-background-size: cover;
    background-size: cover;
}


.pagination {
    display: flex;
    -o-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}

    .pagination a {
        color: white;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
    }

    .pagination li {
        display: list-item;
        background-color: #424242;
        color: white;
    }

        .pagination li.active {
            background-color: #20bc80;
            color: white;
        }

.home-footer {
    display: flex;
    background-color: #1b1b1b;
    min-height: 300px;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.stat-footer {
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #202020;
    width: 200px;
    height: 200px;
    margin: 5px;
}

footer {
    background-color: #202020;
}

.bg-gold {
    background-color: gold;
}
.bg-silver {
    background-color: silver;
}
.bg-bronze {
    background-color: #884229;
}

.toast, .toast-header {
    border-radius: 0;
    background-color: #1b1b1b;
}

.radio-invalid {
    border-color: #dc3545 !important;
}

.field-validation-error {
    color: #dc3545;
}

.modal-content {
    border-radius: 0;
    background-color: #2b2b2b;
}