﻿@model QuizMan.BLL.DataTransferObjects.ChangePasswordModel
@{
    ViewBag.Title = "ChangePassword";
}

<h2>Change Password</h2>
<div class="container">
    @using (@Html.BeginForm())
    {@Html.ValidationSummary()
    @Html.AntiForgeryToken()
    <div class="mb-3">
        @Html.LabelFor(x => x.OldPassword, new { @class = "form-label" })
        @Html.PasswordFor(x => x.OldPassword, new { @class = "form-control", required="",length = "200", maxlength = "200" })
    </div>
    <div class="mb-3">
        @Html.LabelFor(x => x.NewPassword, new { @class = "form-label" })
        @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control",required="", length = "200", maxlength = "200" })
    </div>
    <button class="btn btn-primary" type="submit">
        Change
    </button>
}
</div>

