﻿@model QuizMan.BLL.DataTransferObjects.ApplicationUserModel
@{
    ViewBag.Title = "Detail";
}

<div class="container mt-3">
    <h2 class="text-center">@Model.FirstName @Model.Surname </h2>

    <ul>
        <li>Email: @Model.Email</li>
        <li>Git: @Model.Git</li>
        <li>Age: @Model.Age</li>
    </ul>

    @if (User.Identity.Name == Model.Email)
    {
        <div>
            @Html.ActionLink("Update Profile", "UpdateProfile")
        </div>
        <div>
            @Html.ActionLink("Change Password", "ChangePassword")
        </div>
    }

    <div class="mt-3">
        <h1 class="text-center">Test results</h1>
        <div class="row" id="results-block">
            @Html.Action("GetUserTestResults", "Test", new {userId = Model.Id})
        </div>
    </div>

</div>
