﻿@model QuizMan.WEB.Models.LoginModel
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<div class="container">
    @using (@Html.BeginForm())
    {   @Html.ValidationSummary()
        @Html.AntiForgeryToken()
        <div class="mb-3">
            @Html.LabelFor(x => x.Email, new {@class = "form-label"})
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
        </div>
        <div class="mb-3">
            @Html.LabelFor(x => x.Password, new { @class = "form-label" })
            @Html.PasswordFor(x => x.Password, new { @class = "form-control"})
        </div>
        <button class="btn btn-primary" type="submit">
            Login
        </button>
    }
</div>



