﻿
@model QuizMan.WEB.Models.RegisterModel
@{
    ViewBag.Title = "Login";
}

<div class="container">
    <h2>Register</h2>
    @using (@Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="mb-3">
            @Html.LabelFor(x => x.Email, new { @class = "form-label" })
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", type = "email", length = "50" })
            @Html.ValidationMessageFor(x => x.Email, null, new { @class = "helper-text" })
        </div>
        <div class="mb-3">
            @Html.LabelFor(x => x.Name, new { @class = "form-label" })
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", length = "50", maxlength = "50", id = "input_text" })
            @Html.ValidationMessageFor(x => x.Name, null, new { @class = "helper-text" })
        </div>
        <div class="mb-3">
            @Html.LabelFor(x => x.Surname, new { @class = "form-label" })
            @Html.TextBoxFor(x => x.Surname, new { @class = "form-control", length = "75", maxlength = "75" })
            @Html.ValidationMessageFor(x => x.Surname, null, new { @class = "helper-text" })
        </div>
        <div class="mb-3">
            @Html.LabelFor(x => x.Age, new { @class = "form-label" })
            @Html.TextBoxFor(x => x.Age, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Age, null, new { @class = "helper-text" })
        </div>
        <div class="mb-3">
            @Html.LabelFor(x => x.Password, new { @class = "form-label" })
            @Html.PasswordFor(x => x.Password, new { @class = "form-control", id = "password" })
            @Html.ValidationMessageFor(x => x.Password, null, new { @class = "helper-text" })
        </div>
        <div class="mb-3">
            @Html.LabelFor(x => x.ConfirmPassword, new { @class = "form-label" })
            @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", id = "password" })
            @Html.ValidationMessageFor(x => x.ConfirmPassword, null, new { @class = "helper-text" })
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">
                Register
            </button>
        </div>
    }
</div>



