﻿@model QuizMan.BLL.DataTransferObjects.ApplicationUserModel
@{
    ViewBag.Title = "UpdateProfile";
}

<h2 class="text-center mt-3">UpdateProfile</h2>
<div class="container">
    @using (@Html.BeginForm())
    {

        <div class="mb-3">
            @Html.LabelFor(x => x.FirstName, new {@class = "form-label"})
            @Html.TextBoxFor(x => x.FirstName, new {@class = "form-control", length = "50", maxlength = "50",required ="" ,id = "input_text"})
            @Html.ValidationMessageFor(x => x.FirstName, null, new {@class = "helper-text"})
        </div>
        <div class="mb-3">
            @Html.LabelFor(x => x.Surname, new {@class = "form-label"})
            @Html.TextBoxFor(x => x.Surname, new {@class = "form-control", length = "75", maxlength = "75", required="" })
            @Html.ValidationMessageFor(x => x.Surname, null, new {@class = "helper-text"})
        </div>
        <div class="mb-3">
            @Html.LabelFor(x => x.Git, new {@class = "form-label"})
            @Html.TextBoxFor(x => x.Git, new {@class = "form-control"})
            @Html.ValidationMessageFor(x => x.Git, null, new {@class = "helper-text"})
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">
                Update
            </button>
        </div>
    }
</div>
