﻿@model QuizMan.BLL.DataTransferObjects.UserManage.EditUserRolesModel

<div class="container">
    @using (Html.BeginForm())
    {
        <input type="hidden" name="@Model.UserId" />
        <div class="card mt-3">
            <div class="card-header">
                <h2> Edit roles for user: @Model.UserName @Model.UserSurname</h2>
            </div>
            <div class="card-body">
                @for (var i = 0; i < Model.SelectedRoles.Count; i++)
                {
                <div class="form-check">
                    @Html.HiddenFor(x => x.SelectedRoles[i].RoleId)
                    @Html.HiddenFor(x => x.SelectedRoles[i].RoleName)
                    @Html.CheckBoxFor(x => x.SelectedRoles[i].Selected, new { @class = "form-check-input" })
                    @Html.LabelFor(x => x.SelectedRoles[i].Selected, @Model.SelectedRoles[i].RoleName, new { @class = "form-check-label" })
                </div>
                }
            </div>
            <div class="card-footer">
                <input type="submit" value="Save" class="btn btn-info" />
            </div>
        </div>
    }
</div>