﻿@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">ADMIN PANEL</h2>
<div class="container">
    <div class="row">
        <div class="col-md-4 p-2">
            <div class="card h-100 text-white card_category">
                <a href="@Url.Action("Users")" class="text-decoration-none">
                    <div class="card-body">
                        <h5 class="card-title text-center">USERS</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 p-2">
            <div class="card h-100 text-white card_category">
                <a href="@Url.Action("Logs")" class="text-decoration-none">
                    <div class="card-body">
                        <h5 class="card-title text-center">LOGS</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 p-2">
            <div class="card h-100 text-white card_category">
                <a href="@Url.Action("TestLogging")" class="text-decoration-none">
                    <div class="card-body">
                        <h5 class="card-title text-center">TEST LOGGING</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
