﻿@using PagedList.Mvc;
@model PagedList.IPagedList<QuizMan.BLL.DataTransferObjects.ExceptionDetailModel>

@{
    ViewBag.Title = "Logs";
}



<div class="container">
    <h2 class="text-center mt-3">Logs</h2>
    <div class="accordion mt-3" id="accordionExample">
        @foreach (var exception in Model)
        {
            <div class="card">
                <div class="card-header p-0" id="heading_@exception.Id">
                    <h2 class="mb-0">
                        <button class="btn btn-dark btn-block text-left p-3 rounded-0" type="button" data-toggle="collapse" data-target="#collapse_@exception.Id" aria-expanded="true" aria-controls="collapse_@exception.Id">
                            <div><span class="text-danger">Controller: </span> @exception.ControllerName</div>
                            <div><span class="text-danger">Action: </span> @exception.ActionName</div>
                            <div><span class="text-danger">Date: </span>@exception.Date</div>

                        </button>
                    </h2>
                </div>
                <div id="collapse_@exception.Id" class="collapse" aria-labelledby="heading_@exception.Id" data-parent="#accordionExample">
                    <div class="card-body">
                        <div>
                            <span class="text-danger">Message: </span>@exception.ExceptionMessage
                        </div>
                        <div>
                            <span class="text-danger">Stack Trace: </span>@exception.StackTrace
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="mt-3">
        @Html.PagedListPager(Model, page => Url.Action("Logs", new { page }))
    </div>
</div>
