﻿@model PagedList.IPagedList<QuizMan.WEB.Models.UserRolesModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Users";
}

<div class="container mt-3">
    <h2 class="text-center">Users</h2>
    
    @using (Html.BeginForm("Users", "Admin", FormMethod.Get))
    {
        <div class="input-group mt-3">
            @Html.TextBox("query", ViewBag.CurrentFilter as string, new {@class = "form-control", placeholder = "Search user...", maxlength="50"})
            <input type="submit" value="Search" class="btn btn-secondary"/>
        </div>
    }

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Email</th>
                <th scope="col">First Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Age</th>
                <th scope="col">Roles</th>
                <th scope="col">Manage</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <th scope="row">@(i + 1)</th>
                    <td>@Model[i].Email</td>
                    <td>@Model[i].FirstName</td>
                    <td>@Model[i].Surname</td>
                    <td>@Model[i].Year</td>
                    <td>@string.Join(", ", Model[i].Roles)</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            @Html.ActionLink("Profile", "Detail", "Account", new { userId = Model[i].Id }, new { @class = "btn btn-secondary" })
                            @Html.ActionLink("Edit roles", "EditUserRoles", "Admin", new { userId = Model[i].Id }, new { @class = "btn btn-secondary" })
                            <button style='display: @(Model[i].IsBanned ? "block" : "none")' data-id="@Model[i].Id" class="btn btn-danger" id="unban-btn" onclick="unBanUser(this)">
                                UnBan
                            </button>
                            <button style='display: @(Model[i].IsBanned ? "none" : "block")' data-id="@Model[i].Id" class="btn btn-danger" id="ban-btn" onclick="banUser(this)">
                                Ban
                            </button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    @Html.PagedListPager(Model, page => Url.Action("Users", new { page, currentFilter = ViewBag.CurrentFilter }))
</div>


<div class="modal fade" id="exampleModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ban user</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            @using (Ajax.BeginForm("LockOutUser", new AjaxOptions { OnSuccess = "SuccessBan" }))
            {
                <div class="modal-body">
                    <label for="hours" class="form-label">Days</label>
                    <input type="number" name="days" id="hours" class="form-control">
                    <input type="hidden" name="userId" class="form-control">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" value="Ban" class="btn btn-danger" />
                </div>
            }
        </div>
    </div>
</div>


<script>
    let currentButtons;
    var myModal = new bootstrap.Modal(document.getElementById('exampleModal'),
        {
            keyboard: false
        });

    function banUser(event) {
        const inputId = document.getElementsByName('userId')[0];
        inputId.value = event.dataset.id;
        currentButtons = document.querySelectorAll(`[data-id="${event.dataset.id}"]`);
        myModal.show();
    }

    function switchButtons() {
        for (let i = 0; i < currentButtons.length; i++) {
            if (currentButtons[i].style.display === "none") {
                currentButtons[i].style.display = "block";
            } else {
                currentButtons[i].style.display = "none";
            }
        }
    }

    function unBanUser(event) {
        currentButtons = document.querySelectorAll(`[data-id="${event.dataset.id}"]`);
        $.ajax({
            url: `/Admin/UnBanUser?userId=${event.dataset.id}`,
            type: 'POST',
            success: function (result) {
                document.getElementById('toast-message').innerHTML = result.responseText;
                if (result.success)
                    switchButtons();
                toastList[0].show();
            }
        });
    }


    var toastElList = [].slice.call(document.querySelectorAll('.toast'));
    var toastList = toastElList.map(function (toastEl) {
        return new bootstrap.Toast(toastEl)
    });

    function SuccessBan(data) {
        myModal.hide();
        document.getElementById('toast-message').innerHTML = data.responseText;
        if (data.success)
            switchButtons();
        toastList[0].show();
    }
</script>