﻿@using Microsoft.AspNet.Identity
@using QuizMan.WEB.Utils
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { id = "logoutForm", @class = "ml-auto" }))
    {
        @Html.AntiForgeryToken()

        <ul class="navbar-nav">
            @if (User.IsInRole(Role.Admin))
            {
                <li class="nav-item">@Html.ActionLink("Admin Panel", "Index", "Admin", null, new {@class = "nav-link"})</li>
            }
            <li class="nav-item">
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Detail", "Account", routeValues: new {userId = User.Identity.GetUserId()}, htmlAttributes: new {title = "Manage", @class = "nav-link"})
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </li>
        </ul>
    }
}
else
{
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
        <li class="nav-item">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
    </ul>
}
