﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
<hgroup>
    @ViewBag.EndLockOut lockout end date
    <h1>Error.</h1>
    <h2>An error occurred while processing your request.</h2>
</hgroup>
</body>
</html>
