﻿
@{
    ViewBag.Title = "LockOut";
}

<div class="mt-5 row align-items-center">
    <h1 style="color: red" class="text-center">You were banned until @ViewBag.EndLockOut.ToString("MM/dd/yyyy HH:mm")</h1>
</div>