﻿@using PagedList.Mvc
@model PagedList.IPagedList<QuizMan.BLL.DataTransferObjects.TestModel>


@using (Ajax.BeginForm("GetCategoryTests", "Test", new { FormMethod.Post, categoryId = ViewBag.CategoryId },
    new AjaxOptions
    {
        HttpMethod = "Get",
        UpdateTargetId = "tests-block"
    },
    new { @class = "needs-validation", novalidate = "" }))
{
    <div class="input-group">
        @Html.TextBox("query", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Search tests...", maxlength = "50" })
        <input type="submit" value="Search" class="btn btn-secondary" />
    </div>

}
<ul class="accordion" id="accordionExample">
    @foreach (var test in Model)
    {
        <div class="card">
            <div class="card-header p-0" id="heading_@test.Id">
                <h2 class="mb-0">
                    <button class="btn btn-dark btn-block text-left p-3 rounded-0" type="button" data-toggle="collapse" data-target="#collapse_@test.Id" aria-expanded="true" aria-controls="collapse_@test.Id">
                        @test.Title
                        @if (test.CreationDate > DateTime.Now.AddHours(-24) && test.CreationDate <= DateTime.Now && !test.Deprecated)
                        {
                            <span class="badge bg-info text-dark float-right">New</span>
                        }
                        @if (test.Deprecated)
                        {
                            <span class="badge bg-warning text-dark float-right">Deprecated</span>
                        }
                    </button>
                </h2>
            </div>
            <div id="collapse_@test.Id" class="collapse" aria-labelledby="heading_@test.Id" data-parent="#accordionExample">
                <div class="card-body">
                    @if (!test.Deprecated)
                    {
                        <div class="form-check form-switch">
                            @Html.CheckBoxFor(x => test.IsActive,
                                new
                                {
                                    data_url = Url.Action("ChangeTestStatus", "Test", new { testId = test.Id }),
                                    onchange = "changeTestStatus(this)",
                                    id = "test-status",
                                    @class = "form-check-input",
                                    @checked = test.IsActive
                                })
                            <label class="form-check-label" for="test-status">Active</label>
                        </div>
                    }
                    <p>@test.Description</p>
                    <p>@test.TestPassingPercentage % passing percentage</p>
                    <p>@test.TimeToPass min</p>
                    <p>@test.CreationDate</p>

                    @if (!test.Deprecated)
                    {
                        @Html.ActionLink("Edit", "EditTest", "Test", new { testId = test.Id }, new { @class = "btn btn-primary" })
                        <button data-id="@test.Id" class="btn btn-danger" onclick="deletetest(this)">
                            Delete
                        </button>
                    }
                </div>
            </div>
        </div>
    }
</ul>
<div class="row">
    @Html.PagedListPager(Model,
        page =>
            Url.Action("GetCategoryTests", "Test", new { page, currentFilter = ViewBag.CurrentFilter, categoryId = ViewBag.CategoryId }),
        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
            new PagedListRenderOptions
            {
                //DisplayPageCountAndCurrentLocation = true,
                LinkToPreviousPageFormat = "Previous",
                LinkToNextPageFormat = "Next",
            },
            new AjaxOptions()
            {
                HttpMethod = "Get",
                UpdateTargetId = "tests-block"
            }))
</div>