﻿@model QuizMan.BLL.DataTransferObjects.TestModel

<div class="container pt-3">
    @using (Html.BeginForm("EditTest", "Test", FormMethod.Post,new { @class = "needs-validation", novalidate = "", onsubmit="return validateForm()" }))
    {
        @Html.HiddenFor(x => x.Id)
        <div class="test-block">
            <div class="form-check form-switch">
                @Html.CheckBoxFor(x => Model.IsActive,
                    new
                    {
                        @class = "form-check-input",
                        @checked = Model.IsActive
                    })
                <label class="form-check-label" for="test-status">Active</label>
            </div>
            <div class="mb-3">
                <label for="title" class="form-label">Test title</label>
                <input name="Title" type="text" id="title" class="form-control" value="@Model.Title" required>
                @Html.ValidationMessage("Title")
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Test description</label>
                <textarea name="Description" id="description" class="form-control"  required>@Model.Description</textarea>
                @Html.ValidationMessage("Description")
            </div>
            <div class="mb-3">
                @Html.LabelFor(x=>x.CategoryId, "Category", new{@class= "form-label"})
                @Html.DropDownListFor(x => x.CategoryId, ViewBag.Categories as SelectList, new {@class = "form-select"})
            </div>
            <div class="mb-3">
                <label for="Percentage" class="form-label">Percentage to passing: <span id="slide-value">@Model.TestPassingPercentage %</span></label>
                <input name="TestPassingPercentage" type="range" id="Percentage" min="1" max="100" class="form-range" value="@Model.TestPassingPercentage" oninput="updateSlideInput(this.value);" onchange="updateSlideInput(this.value);"  required>
                @Html.ValidationMessage("TestPassingPercentage")
            </div>
            <div class="mb-3">
                <label for="Time" class="form-label">Time</label>
                <input name="TimeToPass" type="number" id="Time" min="1" max="500" class="form-control" value="@Model.TimeToPass" required>
                @Html.ValidationMessage("TimeToPass")
            </div>
            @Html.ValidationMessage("Questions")
            @if (Model.Questions != null)
            {
                for (var i = 0; i < Model.Questions.Count; i++)
                {
                    <div class="question-container mb-3" data-question-number="@i" data-input-type="@Model.Questions[i].Type">
                        <div class="card">
                            <div class="card-header">
                                <label class="form-label small">Question</label>
                                <div class="input-group">
                                    <textarea name="Questions[@i].Text" type="text" class="form-control w-50" rows="1" value="@Model.Questions[i].Text" required>@Model.Questions[i].Text</textarea>
                                    <input type="number" name="Questions[@i].Score" class="form-control w-25" value="@Model.Questions[i].Score" required>
                                    <button class="btn btn-outline-secondary d-flex justify-content-center align-content-center w-25" type="button" onclick="deleteQuestion(this)">
                                        <i class="material-icons mr-1">delete_forever</i><span>Delete</span>
                                    </button>
                                </div>
                                @Html.ValidationMessageFor(x=>Model.Questions[@i].Text)
                            </div>
                            <div class="card-body">
                                @Html.DropDownList("Questions[" + i + "].Type",
                                    new List<SelectListItem>
                                    {
                                        new SelectListItem {Text = "Single", Value = "radio", Selected = @Model.Questions[i].Type == "radio"},
                                        new SelectListItem {Text = "Multiple", Value = "checkbox", Selected = @Model.Questions[i].Type == "checkbox"},
                                        new SelectListItem {Text = "Text", Value = "text", Selected = @Model.Questions[i].Type == "text"}
                                    }, new { @class = "form-select mb-3", onchange = "selectTypeManager(this)" })
                                @Html.ValidationMessageFor(x => Model.Questions[@i].Type)
                                <div class="options-container">
                                    @if (Model.Questions[i].Type != "text")
                                    {
                                        for (var j = 0; j < Model.Questions[i].Options.Count; j++)
                                        {
                                            <div class="input-container">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-text">
                                                        <input class="form-check-input" name="Questions[@i].Options[@j].IsAnswer" type="@Model.Questions[i].Type" checked="@Model.Questions[@i].Options[@j].IsAnswer" onchange="radioManager(this)">
                                                    </div>
                                                    <input name="Questions[@i].Options[@j].Text" type="text" class="form-control" value="@Model.Questions[@i].Options[@j].Text" required>
                                                    <label class="input-group-text material-icons" onclick="deleteOption(this)">delete</label>
                                                </div>
                                                @Html.ValidationMessageFor(x => Model.Questions[@i].Options[@j].Text)
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="input-container">
                                            <label class="form-label">Answer</label>
                                            <input name="Questions[@i].Options[0].Text" type="text" class="form-control" value="@Model.Questions[i].Options[0].Text" required>
                                            @Html.ValidationMessageFor(x => Model.Questions[@i].Options[0].Text)
                                        </div>
                                    }
                                </div>
                                @Html.ValidationMessageFor(x => x.Questions[i].Options)
                            </div>
                            @if (Model.Questions[i].Type == "radio" || Model.Questions[i].Type == "checkbox")
                            {
                                <div class="card-footer text-muted">
                                    <button type="button" class="btn btn-secondary d-flex justify-content-center align-content-center add-option" onclick="add_option(this)">
                                        <i class="material-icons mr-1">add_box</i> <span>Add option</span>
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                }
            }

        </div>
        <div class="mb-3">
            <button type="button" class="btn btn-secondary d-flex justify-content-center align-content-center add-option" onclick="addQuestion(this)">
                <i class="material-icons mr-1">add_box</i> <span>Add question</span>
            </button>
        </div>
        <p><input type="submit" class="btn btn-success" value="Save" /></p>
    }

</div>

<script type="text/html" id="radio-check-input">
    <div class="input-group mb-3">
        <div class="input-group-text">
            <input class="form-check-input" name="Questions[0].Options[0].IsAnswer" type="radio" onchange="radioManager(this)">
        </div>
        <input name="Questions[0].Options[0].Text" type="text" class="form-control"  required>
        <label class="input-group-text material-icons delete-option" onclick="deleteOption(this)">delete</label>
    </div>
</script>

<script type="text/html" id="add-option-button">
    <div class="card-footer text-muted">
        <button type="button" class="btn btn-secondary d-flex justify-content-center align-content-center add-option" onclick="add_option(this)">
            <i class="material-icons mr-1">add_box</i> <span>Add option</span>
        </button>
    </div>
</script>

<script type="text/html" id="question-block">
    <div class="card">
        <div class="card-header">
            <label class="form-label small">Question</label>
            <div class="input-group">
                <textarea name="Questions[0].Text" type="text" class="form-control w-50" rows="1"  required></textarea>
                <input type="number" name="Questions[0].Score" class="form-control w-25" value="10"  required>
                <button class="btn btn-outline-secondary d-flex justify-content-center align-content-center w-25" type="button" onclick="deleteQuestion(this)">
                    <i class="material-icons mr-1">delete_forever</i><span>Delete</span>
                </button>
            </div>
        </div>
        <div class="card-body">
            <select class="form-select mb-3" name="Questions[0].Type" onchange="selectTypeManager(this)">
                <option selected="selected" value="radio">Single</option>
                <option value="checkbox">Multiple</option>
                <option value="text">Text</option>
            </select>
            <div class="options-container">

            </div>
        </div>
        <div class="card-footer text-muted">
            <div class="card-action">
                <button type="button" class="btn btn-secondary d-flex justify-content-center align-content-center add-option" onclick="add_option(this)">
                    <i class="material-icons mr-1">add_box</i> <span>Add option</span>
                </button>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="text-answer-option">
    <label class="form-label">Answer</label>
    <input name="Questions[0].Options[0].Text" type="text" class="form-control" required>
</script>

<script>
    function updateSlideInput(val) {
        document.getElementById('slide-value').innerText=val + " %"; 
    }
</script>

@Scripts.Render("~/quizman/test-editor/js")