﻿@model QuizMan.BLL.DataTransferObjects.DetailedTestResultModel
@{
    ViewBag.Title = "TestResult";
}

<div class="container">
    <h2 class="text-center mt-3">@Model.TestTitle</h2>
    <div>
        Name: @Model.UserName
    </div>
    <div>
        Duration: @((Model.FinishedAt - Model.StartedAt).Value.ToString(@"hh\:mm\:ss"))
    </div>
    <div>
        You have scored @Model.PointsEarned points out of @Model.TotalScore.
    </div>
    <div class="text-center">
        @if (Model.IsComplete)
        {
            <span class="badge bg-success w-25">Success</span>
        }
        else
        {
            <span class="badge bg-danger w-25">Failure</span>
        }
    </div>
    <div>
        @foreach (var question in Model.QuestionsResultModels)
        {
            <div class="card mb-3">
                <div class="card-header d-flex text-dark " style="background-color: @(question.IsCorrect ? "#20bc80" : "#DD5044") ">
                    @question.Text <strong class="ml-auto text-dark">@question.Score points</strong>
                </div>
                <div class="card-body">
                    @if (question.Type != "text")
                    {
                        foreach (var opt in question.OptionResultModels)
                        {
                            <div class="input-container">
                                <input class="form-check-input" type="@question.Type" checked="@opt.UserAnswer" disabled>
                                <span>@opt.Text </span>
                                @if (opt.IsAnswer)
                                {
                                    <i class="material-icons mr-1">done</i>
                                }

                            </div>
                        }
                    }
                    else
                    {
                        <div class="input-container">
                            <label class="form-label">Answer</label>
                            <input value="@question.OptionResultModels[0].Text" type="text" class="form-control" disabled="">
                            <label class="form-label">Your Answer</label>
                            <input value="@question.UserTextAnswer" type="text" class="form-control" disabled="">
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
