﻿@model QuizMan.BLL.DataTransferObjects.QuickResultModel
@{
    ViewBag.Title = "GetQuickResult";
}


<div class="container">
    <div class="row pt-3">
        <div>
            <div class="card ">
                <div class="card-header">
                    <h2 class="card-title text-center">@Model.Title</h2>
                    <h4 class="card-subtitle text-center">
                        @if (Model.IsPassed)
                        {
                            <span class="badge bg-success w-25">Success</span>
                        }
                        else
                        {
                            <span class="badge bg-danger w-25">Failure</span>
                        }
                    </h4>
                </div>
                <div class="card-body">
                    <p class="card-text">POINTS: @Model.EarnedPoints / @Model.TotalPoints</p>
                    <p>DURATION: @Model.Duration.ToString(@"hh\:mm\:ss")</p>
                </div>
                <div class="card-footer text-center">

                </div>
            </div>
        </div>
    </div>
</div>

