﻿@model QuizMan.WEB.Models.TestsViewModel


<div class="home-cap d-flex align-items-center justify-content-center flex-column">
    <h1 class="display-4">Tests</h1>
    @if (Model != null)
    {
        <h1>Category: @Model.Title</h1>
    }

    @using (Ajax.BeginForm("GetTests", "Test", new { FormMethod.Post, categoryId = ViewBag.CategoryId }, new AjaxOptions
    {
        HttpMethod = "Get",
        UpdateTargetId = "tests-place"
    }, new { @class = "needs-validation w-50", novalidate = "" }))
    {
        <div class="input-group mb-3">
            <input type="text" name="query" class="form-control" placeholder="Search test..." maxlength="50"/>
            <input type="submit" value="Search" class="btn btn-secondary" />
        </div>
    }
</div>

<div class="container pt-3">
    @if (Model != null)
    {
        <div class="row">
            <p>
                <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Category description
                </button>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    @Model.Description
                </div>
            </div>
        </div>
    }
    <div class="row" id="tests-place">
        @Html.Action("GetTests", "Test", new {query = ViewBag.Query})
    </div>
</div>

