﻿@using PagedList.Mvc
@model PagedList.IPagedList<QuizMan.BLL.DataTransferObjects.QuickResultModel>


@using (Ajax.BeginForm("GetUserTestResults", "Test", new { FormMethod.Post, userId = ViewBag.UserId },
    new AjaxOptions
    {
        HttpMethod = "Get",
        UpdateTargetId = "results-block"
    },
    new { @class = "needs-validation  mb-3", novalidate = "" }))
{
    <div class="input-group">
        @Html.TextBox("query", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Search tests...", maxlength = "50" })
        <input type="submit" value="Search" class="btn btn-secondary" />
    </div>

}

@if (Model.Count == 0)
{
    <h3 class="text-center">No tests passed yet. Try to pass something;)</h3>
}


@foreach (var result in Model)
{
    <div class="card mb-2">
        <div class="card-body">
            <h5 class="card-title">Test: @result.Title</h5>
            <h5 class="card-title">
                State:
                @if (result.IsPassed)
                {
                    <span class="badge bg-success">Success</span>
                }
                else
                {
                    <span class="badge bg-danger">Failure</span>
                }
            </h5>

            <h6 class="card-subtitle mb-2 text-muted">Duration: @result.Duration.ToString(@"hh\:mm\:ss")</h6>
            <h6 class="card-text">Score: @result.EarnedPoints / @result.TotalPoints</h6>
            @if (User.IsInRole("admin"))
            {
                <span>
                    @Html.ActionLink("Detailed result", "GetDetailedResult", "Test", new { userId = ViewBag.UserId, testId = result.TestId }, new { @class = "btn btn-primary" })
                </span>
            }
        </div>
    </div>
}

<div class="row">
    @Html.PagedListPager(Model,
        page =>
            Url.Action("GetUserTestResults", "Test", new { page, currentFilter = ViewBag.CurrentFilter, userId = ViewBag.UserId }),
        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
            new PagedListRenderOptions
            {
                //DisplayPageCountAndCurrentLocation = true,
                LinkToPreviousPageFormat = "Previous",
                LinkToNextPageFormat = "Next",
            },
            new AjaxOptions()
            {
                HttpMethod = "Get",
                UpdateTargetId = "results-block"
            }))
</div>