﻿@model QuizMan.BLL.DataTransferObjects.TestModel
@{
    ViewBag.Title = "StartTest";
}

<div class="text-center mt-3">
    <h2>@Model.Title</h2>
    <h3 id="demo"></h3>
</div>

<div class="container">
    @using (Html.BeginForm("StartTest", "Test", FormMethod.Post,new{id = "answer-form"}))
    {
        <input type="hidden" name="TestId" value="@Model.Id" />
        for (var i = 0; i < Model.Questions.Count; i++)
        {
            <input type="hidden" name="Answers[@i].QuestionId" value="@(Model.Questions[i].Id)" />
            <div class="card mb-3">
                <div class="card-header">
                    @Model.Questions[i].Text
                </div>
                <div class="card-body options-container">
                    @if (Model.Questions[i].Type != "text")
                    {
                        for (var j = 0; j < Model.Questions[i].Options.Count; j++)
                        {
                            <div class="input-container">
                                <input type="hidden" name="Answers[@i].UserChooses[@j].ChooseId" value="@Model.Questions[i].Options[j].Id" />
                                <input class="form-check-input" name="Answers[@i].UserChooses[@j].IsChecked" type="@Model.Questions[i].Type" onchange="radioManager(this)">
                                @Model.Questions[i].Options[j].Text
                            </div>
                        }
                    }
                    else
                    {
                        <div class="input-container">
                            <label class="form-label">Answer</label>
                            <input name="Answers[@i].Answer" type="text" class="form-control">
                        </div>
                    }
                </div>
            </div>
        }
        <div class="text-center mb-3">
            <input type="submit" class="btn btn-success w-25" value="End test" />
        </div>
    }

</div>



<script>

    function radioManager(element) {
        const inputsBlock = element.closest(".options-container").getElementsByTagName("input");
        for (let i = 0; i < inputsBlock.length; i++)
            if (inputsBlock[i].type === "radio")
                if (inputsBlock[i] !== element)
                    inputsBlock[i].checked = false;
    }

    // Set the date we're counting down to
    const  countDownDate = '@ViewBag.EndTime';
    const  dateAr = countDownDate.split('-');
    const  newDate = dateAr[1] + '/' + dateAr[0] + '/' + dateAr[2];
    const  end = new Date(dateAr[1] + '/' + dateAr[0] + '/' + dateAr[2]);

// Update the count down every 1 second
    var x = setInterval(function() {

        // Get today's date and time
        const now = new Date().getTime();

        // Find the distance between now and the count down date
        const distance = end - now;

        // Time calculations for days, hours, minutes and seconds
        const days = Math.floor(distance / (1000 * 60 * 60 * 24));
        const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        const seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Display the result in the element with id="demo"
        document.getElementById("demo").innerHTML = days + "d " + hours + "h "
            + minutes + "m " + seconds + "s ";

        // If the count down is finished, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("answer-form").submit();
            document.getElementById("demo").innerHTML = "EXPIRED";
        }
    }, 1000);
</script>