﻿@using PagedList.Mvc
@using QuizMan.BLL.Common
@using QuizMan.BLL.Services
@model PagedList.IPagedList<QuizMan.BLL.DataTransferObjects.TestModel>

@Html.ValidationSummary()
@foreach (var test in Model)
{
    <div class="col-md-4 p-2">
        <div class="card h-100 text-white card_category">
            <div class="card-body">
                <h5 class="card-title text-center">
                    @test.Title
                    @if (test.CreationDate > DateTime.Now.AddHours(-24) && test.CreationDate <= DateTime.Now && !test.Deprecated)
                    {
                        <span class="badge bg-info text-dark float-right">New</span>
                    }
                    @if (test.TestState == TestState.InProgress)
                    {
                        <span class="badge bg-warning text-dark float-right">In Progress</span>
                    }
                    @if (test.TestState == TestState.Success)
                    {
                        <span class="badge bg-success float-right">Success</span>
                    }
                    @if (test.TestState == TestState.Failure)
                    {
                        <span class="badge bg-danger float-right">Failure</span>
                    }
                </h5>

                <h6 class="card-subtitle mb-2 text-muted">Created: @test.CreationDate</h6>
                <h6 class="card-subtitle mb-2 text-muted">Passage rate: @test.TestPassingPercentage %</h6>
                <h6 class="card-subtitle mb-2 text-muted">Test duration: @test.TimeToPass min</h6>
                <p class="card-text">@test.Description</p>
            </div>
            <div class="card-footer">
                @Html.ActionLink("OPEN", "TestPreview", "Test", new { testId = test.Id }, null)
                @if (User.IsInRole("admin") || User.IsInRole("editor"))
                {
                    @Html.ActionLink("EDIT", "EditTest", "Test", new { testId = test.Id }, new { @class = "card-link" })
                }
            </div>
        </div>
    </div>
}

<div class="row">
    @Html.PagedListPager(Model,
        page =>
            Url.Action("GetTests", "Test", new { page, currentFilter = ViewBag.CurrentFilter, categoryId = ViewBag.CategoryId }),
        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
            new PagedListRenderOptions
            {
                //DisplayPageCountAndCurrentLocation = true,
                LinkToPreviousPageFormat = "Previous",
                LinkToNextPageFormat = "Next",
            },
            new AjaxOptions()
            {
                HttpMethod = "Get",
                UpdateTargetId = "tests-place"
            }))
</div>