﻿@using QuizMan.BLL.Common
@using QuizMan.BLL.Services
@model QuizMan.BLL.DataTransferObjects.TestModel
@{
    ViewBag.Title = "TestPreview";
}

<div class="container">
    <div class="row pt-3">
        <div>
            <div class="card ">
                <div class="card-header">
                    <h2 class="card-title">@Model.Title</h2>
                    <h4 class="card-subtitle">Creation date: @Model.CreationDate</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">@Model.Description</p>
                    <p>Test time: @Model.TimeToPass min</p>
                    <p>Passage percentage: @Model.TestPassingPercentage %</p>
                </div>
                <div class="card-footer text-center">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <div>You must be logged in to take the test.</div>
                    }
                    else if (Model.TestState == TestState.Success)
                    {
                        <span class="badge bg-success">Success</span>
                        <div>You passed the test successfully. Go to your profile to see the result.</div>
                    }
                    else if (Model.TestState == TestState.Failure)
                    {
                         <span class="badge bg-danger">Failure</span>
                         <div>You failed the test :( Go to your profile to see the result.</div>
                    }
                    else if (Model.TestState == TestState.InProgress)
                    {
                        @Html.ActionLink("CONTINUE", "StartTest", "Test", new { testId = Model.Id }, new { @class = "btn btn-warning text-dark w-25" });
                    }
                    else
                    {
                        @Html.ActionLink("START", "StartTest", "Test", new { testId = Model.Id }, new { @class = "btn btn-info text-dark w-25" });
                    }
                </div>
            </div>
        </div>
    </div>
</div>





