﻿@{
    ViewBag.Title = "Contact";
}
<h2 class="mt-3">@ViewBag.Title.</h2>

<address>
    Ukraine, Kharkiv
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ivandem666@gmail.com">ivandem666@gmail.com</a><br />
</address>