﻿@using QuizMan.WEB.Utils
@model List<QuizMan.BLL.DataTransferObjects.TopUserModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="home-cap d-flex align-items-center justify-content-center flex-column">
    <h1 class="display-4">QuizMan</h1>
    @using (Html.BeginForm("Index", "Test", FormMethod.Post, new { @class = "needs-validation w-50", novalidate = "" }))
    {
        @Html.ValidationMessage("query")
        <div class="input-group mb-3">
            <input type="text" name="query" class="form-control" placeholder="Search test..." maxlength="50"/>
            <input type="submit" value="Search" class="btn btn-secondary"/>
        </div>
    }
    @Html.ActionLink("ALL TESTS","Index","Test",null, new {@class = "badge bg-secondary text-decoration-none" })
</div>

<div class="row pl-5 pr-5 pt-2">
    <div class="col-md-9">
        <h2 class="text-center">
            Categories
            @if (User.IsInRole(Role.Admin)||User.IsInRole(Role.Editor))
            {
                <a href=@Url.Action("AddCategory","Category") style="vertical-align: middle; cursor: pointer" data-toggle="tooltip" data-placement="top" title="Add new category">
                    <i class="material-icons" >add_box</i>
                </a>
            }
        </h2>
        <div class="row" id="categories-block">
            @Html.Action("GetCategories","Category")
        </div>
    </div>
    <div class="col-md-3">
        <h2 class="text-center">Top users</h2>
        <div class="row" style="margin-top: 29px;">
            @if (Model.Count > 0)
            {
                for (var i = 0; i < Model.Count; i++)
                {
                    <div class="col-12 mb-3">
                        <div class="card text-center">
                            <div class="card-body">
                                @switch (i)
                                {
                                    case 0:<span class="badge bg-gold text-dark ">GOLD</span>
                                        break;
                                    case 1:<span class="badge bg-silver text-dark">SILVER</span>
                                        break;
                                    case 2:<span class="badge bg-bronze">BRONZE</span>
                                        break;
                                }
                                <h5 class="card-title">@Model[i].Name</h5>
                                <h5 class="card-title">@Model[i].Surname</h5>
                                <p class="card-text">Passed Tests: @Model[i].TestPassed</p>
                            </div>
                            <div class="card-footer text-muted">
                                @Html.ActionLink("PROFILE", "Detail", "Account", new { userId = Model[i].Id }, new { @class = "card-link" })
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <h3 class="text-center">
                    It's empty here. Be the first.
                </h3>
            }
        </div>
    </div>
</div>

<div class="row home-footer">
    <div class="stat-footer">
        Categories: @ViewBag.CategoryCount
    </div>
    <div class="stat-footer">
        Tests: @ViewBag.TestCount
    </div>
    <div class="stat-footer">
        Users: @ViewBag.UserCount
    </div>
</div>
<script>
</script>
